
h1{
    text-align: center;
    color: #CD9E4C;
    font-family:'Poppins', sans-serif ;
    font-weight: 600;
    font-size: 45px;
}
p{
    color:#442C1B;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 120px;
    font-family: 'Lora', serif;

}
.buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.buttons button {
    padding: 20px 30px;
    border: 2px solid #c5a767;
    border-radius: 10px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Lora', sans-serif;
}

/* When mouse goes over */
.buttons button:hover {
    background-color: #D6B56E;
    color: #1F211E;
    transform: translateY(-4px);
}

/* When clicked */
.buttons button:active {
    transform: translateY(1px);
}
.bottom-image {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 70%;
    height:180px;
    margin-top: 50px;
}